<style>
  strong {
    font-size: 26px;
    font-weight: bold:
  }
</style>

<h2 class="entry-title">
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h2>
<div class="entry-content">{{ content }}</div>

<h2>CIJUG's Epic Sponsor for 2017 is Source Allies</h2>
<div>
  <p>Source Allies is a technology services company based in Des Moines, Iowa. Their team is comprised of senior IT professionals whose industry background ranges from mortgage to health care and whose areas of technical and process specialization range from test driven software development to web services security.</p>
  <ul>
    <li><a href="http://www.sourceallies.com/">Source Allies</a></li>   
  </ul>
</div>

<h2>Additional Sponsors</h2>
<div>
  <ul>
    <li><a href="http://www.teksystems.com/locations/united-states/iowa/des-moines">TekSystems</a></li>
    <li><a href="http://pillartechnology.com/about">Pillar Technology</a></li>
	<li><a href="https://www.businessolver.com/who-we-are">Businessolver</a></li>
  </ul>
</div>

