<style>
  strong {
    font-size: 26px;
    font-weight: bold:
  }
</style>

<h2 class="entry-title">
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h2>
<div class="entry-content">{{ content }}</div>

<h2>CIJUG's Epic Sponsor for 2017 is Source Allies</h2>
<div>
  <p>Source Allies is a local technical consultancy who values collaboration, craftsmanship, and an ownership mentality. We provide a home to our teammates where we encourage each other to grow not only technically, but as peers & consultants. This is evident in the quality software we deliver to clients.</p>
  <ul>
    <li>Learn about our “ownership mentality” at:<a href="http://www.sourceallies.com/">www.sourceallies.com</a></li>   
  </ul>
</div>

<h2>Additional Sponsors</h2>
<div>
  <ul>
    <li><a href="http://www.teksystems.com/locations/united-states/iowa/des-moines">TekSystems</a></li>
    <li><a href="http://pillartechnology.com/about">Pillar Technology</a></li>
	<li><a href="https://www.businessolver.com/who-we-are">Businessolver</a></li>
  </ul>
</div>

